{% extends 'cntpl.html' %}

{% block title %}
Sol-Bright Technology
{% end %}

{% block n7 %}nl{% end %}

{% block l7 %}
active
{% end %}

{% block css %}
<style>
dl {
}

dd {
	text-align: left;
}

h3 {
	text-align: left;
}

dt {
	width: 80px;
}

.co1_content {
	text-align: left;
}

.co1_title {
	text-align: right;
	font-weight: 800;
}

h3 {
	color: red;
}

h4 {
	text-align: left;
}
</style>
{% end %}

{% block content %}
<div class="test_block">		
	<h2>Contact Information</h2>

	<h3>中国大陆地区</h3>
	<h4>思拓光伏科技有限公司</h4>
	<div class="row">
		<div class="co1_title col-md-1">
			<p>地址:</p>
			<p>联系电话:</p>
			<p>&nbsp</p>
			<p>移动电话:</p>
			<p>邮箱地址:</p>
		</div>
		<div class="co1_content col-md-11">
			<p>北京东燕郊百世金谷国际产业基地 27-C</p>
			<p>86-10-58412921</p>
			<p>86-10-52005067</p>
			<p>13691435279</p>
			<p>xuzhangtianran@163.com</p>
		</div>
	</div>

	<h3>欧洲，南美洲，台湾地区业务</h3>
	<h4>威顿国际贸易有限公司</h4>
	<div class="row">
		<div class="co1_title col-md-1">
			<p>地址:</p>
			<p>邮编:</p>
			<p>联系地址:</p>
			<p>传真地址:</p>
			<p>邮箱地址:</p>
		</div>
		<div class="co1_content col-md-11">
			<p>北京市朝阳区五里桥一街非中心10号楼</p>
			<p>100024</p>
			<p>+86 10 85717788</p>
			<p>+86 10 85717988</p>
			<p>info@wyltonhk.com</p>
		</div>
	</div>

	<!--
	<dl class="dl-horizontal">
		<dt>Tel:</dt>
		<dd>86-10-58412921</dd>
		<dd>86-10-52005067</dd>

		<dt>Cell:</dt>
		<dd>13691435279</dd>

		<dt>Email:</dt>
		<dd>xuzhangtianran@163.com</dd>

	</dl>

	<h3>Europe, South America, Taiwan Agent</h3>
	<dl class="dl-horizontal">
		<dt>Tel:</dt>
		<dd>+86 10 85717788</dd>

		<dt>Fax:</dt>
		<dd>+86 10 85717988</dd>

		<dt>Email:</dt>
		<dd>info@wyltonhk.com</dd>

		<dt>Address:</dt>
		<dd>Bldg. #10, Feizhongxin, Wuliqiao St. 1, Chaoyang District, Beijing, P.R.China 100024</dd>
	</dl>-->
</div>
{% end %}
