
{% extends 'cntpl.html' %}

{% block title %}
Sol-Bright Technology
{% end %}

{% block n6 %}nl{% end %}

{% block l6 %}
active
{% end %}

{% block content %}
<div class="test_block">		
	<div class="panel-group text_block" id="accordion" role="tablist" aria-multiselectable="true">
		<div class="panel panel-default">
			<div class="panel-heading text-left" role="tab" id="headingOne">
				<h4 class="panel-title">
					<a class="text-left" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
					1. 我们的智能机器人是否能够在恶劣环境下正常工作，比如在寒冷天气环境下或者沙漠气候环境下？
					</a>
				</h4>
			</div>
			<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
				<div class="panel-body text-left">
				我们的智能光伏清洁机器人可以在70℃和-40℃之间的温度下进行正常工作。
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading text-left" role="tab" id="headingTwo">
				<h4 class="panel-title">
					<a class="text-left collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
					2. 是否需要人工劳动力来完成智能清洁机器人的操作和控制？
					</a>
				</h4>
			</div>
			<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
				<div class="panel-body text-left">
				智能清洁机器人不需要人工劳动来进行工作，我们的智能清洁机器人可以在设定工作时间后由系统控制自动进行清洁工作。如果需要立即清洗，可在中控室内由一名操作工人进行远程操控。
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading text-left" role="tab" id="headingThree">
				<h4 class="panel-title">
					<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
					3. 是否需要水，压缩空气或者外接电线来完成系统清洁？清洁机器人机身上的毛刷是否需要清洗？
					</a>
				</h4>
			</div>
			<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
				<div class="panel-body text-left">
				不需要。每一台智能光伏清洁机器人都是独自运行，不需要另外搭建支架，电缆，水管，或是空气加压器，或任何其它此类外加装置。智能清洁机器人的清洁毛刷是由特殊材料制成，不会对灰尘产生吸附性，所以没有必要采取任何劳动力来清洁刷。
				</div>
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading text-left" role="tab" id="headingThree">
				<h4 class="panel-title">
					<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
					4. 机器人是否具有实时监控系统，用以检测机器人出现功能性故障？机器人是否可以加装其他的选择性功能？
					</a>
				</h4>
			</div>
			<div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
				<div class="panel-body text-left">
				升级的电子系统已经完全支持无线通信功能，所有的关键运行数据都可以实现远程查看。如有任意一台机器人出现故障，中控系统会显示是哪一台出现了故障。另外，最受欢迎的可选择性机器人附加功能是红外线扫描系统，它能够在机器人清洁光伏板的同时检测到光伏板的热斑及隐裂，从而为您挑出坏板。 
				</div>
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading text-left" role="tab" id="headingThree">
				<h4 class="panel-title">
					<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
					5. 机器人一次性充满电需要多长时间，充满电后能使用多久？电池是否可以替换？电池充电是否只有在特定的充电区域内进行，同时需要停止工作？
					</a>
				</h4>
			</div>
			<div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
				<div class="panel-body text-left">
				我们的智能清洁机器人的一大突出的特点就是：自供电系统。该清洁机器人在机器上端自带太阳能电池板，与机器内部的充电电池相连。该内置充电电池在日光下三小时即可充满电，因而我们的机器人可以通过编程而在夜间进行清洁工作。充满电后，机器人可在太阳能板上进行往返清洁。同时，我们的自供电系统也能随时监测电池剩余电量，可计算出剩余电量可供清洁的距离。一旦剩余电量告急，机器人会自动返回其停靠台进行充电，从而不会停留在太阳能面板上而导致发电效率降低。 
				</div>
			</div>
		</div>

	</div>
</div>

{% end %}
