{% extends 'cntpl.html' %}

{% block title %}
Sol-Bright Technology
{% end %}

{% block n3 %}nl{% end %}

{% block l3 %}
active
{% end %}

{% block css %}
<style>
.product_title_block {
	text-align: left;
	/*text-shadow: white 3px 3px 0;*/
}
.product_title_block > div {
	display: inline-block;
	margin-right: 1%;
}

.project_title_image_block {
	width: 50px;
	height: auto;
}

.project_title_image_block > img {
	width: 100%;
}

.project_title_image_block > h4 {
	display: inline-block;
}

.orange {
	background-color: #F5CC93;
}

.yellow {
	background-color: #FCE881;
}

.green {
	background-color: #83D375;
}

.blue {
	background-color: #6CBFE9;
}

.product_title {
	font-size: 18pt;
}

.product_content li {
	text-align: left;
	font-size: 19px;
}

/*.p_text_part p:first-letter {
	margin-top: 6px;
	line-height: 0.8;
	font-size: 2em;	
	color: rgb(163, 88, 48);
	float: left;
	font-weight: 800;
	padding-right: 5px;
}*/

.p_text_part > p {
	padding-left: 5px;
	text-align: left;
	font-size: 15pt;
	border-width: 0;
	border-right-width: 3px;
	border-color: #337ab7;
	border-style: solid;
}

.p_text_part {

}

.p_image_part img {
	width: 100%;
}

.p3_image_part img {
	width: 98%;
	height: auto;
}

.p1_block p {
	text-align: left;
	font-size: 19px;
}

table th, 
table td {
	text-align: center;
	vertical-align: middle;
	font-size: 15px;
}

.t1 {
	background-color: rgb(184, 204, 228);
}
.t2 {
	background-color: rgb(229, 183, 183);
}
.t3 {
	background-color: rgb(215, 227, 189);
}
.t4 {
	background-color: rgb(204, 192, 216);
}
.t5 {
	background-color: rgb(183, 221, 232);
}
.t6 {
	background-color: rgb(251, 212, 179);
}
.tl {
	background-color: rgb(255, 255, 150);
}

#p_table th,
#p_table td {
	border-color: black;
}
</style>
{% end %}

{% block content %}

	<div class="test_block p1_block">		
		<p>
		近年来，随着光伏产业的迅猛发展，世界各地大规模的光伏电站不断建设。然而，随着光伏板的大规模使用，尘埃污染严重制约了发电效率，已经成为困扰光伏电站所有者和运营者的突出问题。 思拓光伏科技意识到了问题的重要性并将此视为改革和发展的机遇。
		</p>
		<!--<div class="row">
			<div class="col-md-4 p_text_part">
				<p>
				In recent years, with the rapid development of the photovoltaic industry, large-scale solar power plants are being built at a rapid speed around the world. However, with large scales of solar panels, soiling has caused a significant decrease in efficiency in power generation and has become a prominent issue to operators and owners of large-scale solar power plants. Sol-Bright Technology grasped the significance of this problem and regarded it as an opportunity for innovation and growth. 
				</p>
			</div>
			<div class="col-md-8 p_image_part">
				<div>
					<img src="/images/p1.png">
				</div>
				<div>
					<img src="/images/p2.png">
				</div>
			</div>
		</div>-->
	</div>

	<div class="test_block">		
		<div class="row">
			<div class="col-md-5">
				<div class="panel-group" role="tablist" aria-multiselectable="true">
					<div class="orange panel">
						<div class="orange panel-heading product_title_block" role="tab" id="headingOne">
							<div class="project_title_image_block">
								<img src="/images/1p.png" alt="Chania">
							</div>
							<div class="panel-title product_title">
								<a class="product_href" data-trigger="1" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
								显而易见的效率提升
								</a>
							</div>
						</div>
					</div>
					<div class="panel yellow">
						<div class="panel-heading product_title_block" role="tab" id="headingTwo">
							<div class="project_title_image_block">
								<img src="/images/2p.png" alt="Chania">
							</div>
							<div class="panel-title product_title">
								<a class="product_href collapsed" data-trigger="0" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
								令人惊叹的成本效应
								</a>
							</div>
						</div>
					</div>
					<div class="panel green">
						<div class="panel-heading product_title_block" role="tab" id="headingThree">
							<div class="project_title_image_block">
								<img src="/images/3p.png" alt="Chania">
							</div>
							<div class="panel-title product_title">
								<a class="collapsed product_href" data-trigger="0" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
								精益求精的技术集成
								</a>
							</div>
						</div>
					</div>
					<div class="panel blue">
						<div class="panel-heading product_title_block" role="tab" id="headingFour">
							<div class="project_title_image_block">
								<img src="/images/4p.png" alt="Chania">
							</div>
							<div class="panel-title product_title">
								<a class="product_href collapsed" data-trigger="0" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
								全面有效的环境适应性
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-7">
				<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
					<div class="panel panel-default">
						<div id="collapseOne" class="collapse in" role="tabpanel" aria-labelledby="headingOne">
							<div class="panel-body product_content">
								<ul>
									<li class="text-left">对太阳能电池板表面的尘土污染的清洁效率高达99%</li>
									<li class="text-left">平均行进速度为15-20米每分钟，对于宽度为3米的组件，每小时的清洁面积高达2700-3600平方米</li>
									<li class="text-left">经过在国内多家大型电站的实际使用和监测，我们的清洁机器人能提高电厂约7-15%的发电效率</li>
								</ul>
							</div>
						</div>
					</div>

					<div class="panel panel-default">
						<div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
							<div class="panel-body product_content">
								<ul>
									<li class="text-left">只需在组件连接处加装简单的连接件，即可使Sol-Bright的清洁机器人清扫更长的太阳能面板，节约投入</li>
									<li class="text-left">全自动化的操作，为您大大的节约了人力成本</li>
									<li class="text-left">完全无需额外的水费、电费等诸多支出</li>
									<li class="text-left">通过我们实际的核算，我们的电厂客户可以在6-18个月的时间内收回其投入之成本，进而在更长的电厂运营周期内享受净收益</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
							<div class="panel-body product_content">
								<ul>
									<li class="text-left">通过中控电脑或移动设备端的应用程序，我们可以实现对于机器人操作和监控的在线管理</li>
									<li class="text-left">机器人上自带的自我检测系统，能及时将无法正常工作的信息传达到中控电脑上，从而无需例行的人工检查</li>
									<li class="text-left">可编程的控制单元，可以使清洁机器人在夜间工作，从而避免阴影效应，保证电厂发电效率</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
							<div class="panel-body product_content">
								<ul>
									<li class="text-left">无水清洁、无需外接电源的自供电系统，更环保也更易于使用</li>
									<li class="text-left">工作温度范围了-40到70摄氏度，适用环境广</li>
									<li class="text-left">设计使用寿命为10年，同时提供达18个月的质保期</li>
								</ul>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

	<div class="test_block">		
		<div class="text_block">
			<h3 class="text-left"><small></small> 清洁方法的比较 </h3>
			<!--<ul class="text-left">
				<li>18 months warranty, lifelong repair;</li>
				<li>Free technical consultation;</li>
				<li>Provide repair/replacement/technical support during warranty period;</li>
				<li>Specialized customer service phone number;</li>
				<li>Troubleshoot within shortest time.</li>
			</ul>-->
			<div class="p3_image_part">
				<div id="product_table">
					<table id="p_table" class="table table-bordered">
						<tr>
							<th class="t1">清洁方法</th>
							<th class="t2">人工花费</th>
							<th class="t3">水花费</th>
							<th class="t4">器具花费</th>
							<th class="t5">环境需求</th>
							<th class="t6">清洁效率</th>
						</tr>

						<tr>
							<th>人工清洁</th>
							<td>非常高</td>
							<td>低</td>
							<td>低</td>
							<td>低</td>
							<td>非常低</td>
						</tr>

						<tr>
							<th>高压冲水</th>
							<td>高</td>
							<td>非常高</td>
							<td>高</td>
							<td>高</td>
							<td>好</td>
						</tr>

						<tr>
							<th>喷淋</th>
							<td>低</td>
							<td>非常高</td>
							<td>高</td>
							<td>高</td>
							<td>一般</td>
						</tr>

						<tr>
							<th>专业设备</th>
							<td>高</td>
							<td>低</td>
							<td>非常高</td>
							<td>非常高</td>
							<td>好</td>
						</tr>

						<tr class="tl">
							<th>Sol-Bright Tech</th>
							<td>无</td>
							<td>无</td>
							<td>中</td>
							<td>低</td>
							<td>高</td>
						</tr>
					</table>
				</div>
				<!--<img src="/images/p3.jpg">-->
			</div>
		</div>
	</div>

{% end %}

{% block js %}
<script src="/js/product.js"></script>
{% end %}
