{% extends 'tpl.html' %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

{% block title %}
Sol-Bright Technology
{% end %}

{% block n3 %}nl{% end %}

{% block l3 %}
active
{% end %}

{% block css %}
<style>
.product_title_block {
	text-align: left;
	/*text-shadow: white 3px 3px 0;*/
}
.product_title_block > div {
	display: inline-block;
	margin-right: 1%;
}

.project_title_image_block {
	width: 50px;
	height: auto;
}

.project_title_image_block > img {
	width: 100%;
}

.project_title_image_block > h4 {
	display: inline-block;
}

.orange {
	background-color: #F5CC93;
}

.yellow {
	background-color: #FCE881;
}

.green {
	background-color: #83D375;
}

.blue {
	background-color: #6CBFE9;
}

.product_title {
	font-size: 18pt;
}

.product_content {
	text-align: left;
	font-size: 15pt;
}

.p_text_part p:first-letter {
	margin-top: 6px;
	line-height: 0.8;
	font-size: 2em;	
	/*color: rgb(163, 88, 48);*/
	float: left;
	font-weight: 800;
	padding-right: 5px;
}

.p_text_part > p {
	padding-left: 5px;
	text-align: left;
	font-size: 15pt;
	border-width: 0;
	border-right-width: 3px;
	border-color: #337ab7;
	border-style: solid;
}

.p_text_part {

}

.p_image_part img {
	width: 100%;
}

.p3_image_part img {
	width: 98%;
	height: auto;
}
</style>
{% end %}

{% block content %}

	<div class="test_block p1_block">		
		<div class="row">
			<div class="col-md-4 p_text_part">
				<p>
				In recent years, with the rapid development of the photovoltaic industry, large-scale solar power plants are being built at a rapid speed around the world. However, with large scales of solar panels, soiling has caused a significant decrease in efficiency in power generation and has become a prominent issue to operators and owners of large-scale solar power plants. Sol-Bright Technology grasped the significance of this problem and regarded it as an opportunity for innovation and growth. 
				</p>
			</div>
			<div class="col-md-8 p_image_part">
				<div>
					<img src="/images/p1.png">
				</div>
				<div>
					<img src="/images/p2.png">
				</div>
			</div>
		</div>
	</div>

	<div class="test_block">		
		<div class="row">
			<div class="col-md-5">
				<div class="panel-group" role="tablist" aria-multiselectable="true">
					<div class="orange panel">
						<div class="orange panel-heading product_title_block" role="tab" id="headingOne">
							<div class="project_title_image_block">
								<img src="images/1p.png" alt="Chania">
							</div>
							<div class="panel-title product_title">
								<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
									Increase in efficiency
								</a>
							</div>
						</div>
					</div>
					<div class="panel yellow">
						<div class="panel-heading product_title_block" role="tab" id="headingTwo">
							<div class="project_title_image_block">
								<img src="images/2p.png" alt="Chania">
							</div>
							<div class="panel-title product_title">
								<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
									Cost Effective
								</a>
							</div>
						</div>
					</div>
					<div class="panel green">
						<div class="panel-heading product_title_block" role="tab" id="headingThree">
							<div class="project_title_image_block">
								<img src="images/3p.png" alt="Chania">
							</div>
							<div class="panel-title product_title">
								<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
									Integrated Technology
								</a>
							</div>
						</div>
					</div>
					<div class="panel blue">
						<div class="panel-heading product_title_block" role="tab" id="headingFour">
							<div class="project_title_image_block">
								<img src="images/4p.png" alt="Chania">
							</div>
							<div class="panel-title product_title">
								<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
									Environmentally Adaptive
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-7">
				<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
					<div class="panel panel-default">
						<div id="collapseOne" class="collapse in" role="tabpanel" aria-labelledby="headingOne">
							<div class="panel-body product_content">
								<ul>
									<li class="text-left">Removes 99% of soiling pollution on photovoltaic panels.</li>
									<li class="text-left">10-20 meters per minutes, which is 1800-3600 square meters per hour on a 3 meters’ wide component.</li>
									<li class="text-left">Tested in large solar power stations, our robots improve 7-15% of their electricity generation rate.</li>
								</ul>
							</div>
						</div>
					</div>

					<div class="panel panel-default">
						<div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
							<div class="panel-body product_content">
								<ul>
									<li class="text-left">Add tracks only in between components for robots transfer freely, fewer robots for more panels.</li>
									<li class="text-left">Full automatically operation to achieve zero manual cost.</li>
									<li class="text-left">No added supplemental costs such as water, electricity, etc.</li>
									<li class="text-left">Customers can gain back their investment within 6-18 months. Income continuously improves year after year.</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
							<div class="panel-body product_content">
								<ul>
									<li class="text-left">All robots can be controlled and monitored by a master application on a computer or mobile device.</li>
									<li class="text-left">Self-alarm system and can show on the CCS computer when robots are not functioning well, needed no routing manual check.</li>
									<li class="text-left">Can scheduled robot to run automatically during the night to avoid shadowing.</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
							<div class="panel-body product_content">
								<ul>
									<li class="text-left">Cleaning without using any water, self-powered using no wires, more economic and easier.</li>
									<li class="text-left">Functions properly between temperature from -40℃ to 70℃.</li>
									<li class="text-left">Designed to use over 10 years and we provide 18 months warranty.</li>
									<li class="text-left">Optional: Snow shovel and laser scan system to detect defected panels can be equipped. </li>
								</ul>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

	<div class="test_block">		
		<div class="text_block">
			<h3 class="text-left"><small> Info </small> Method Comparison </h3>
			<!--<ul class="text-left">
				<li>18 months warranty, lifelong repair;</li>
				<li>Free technical consultation;</li>
				<li>Provide repair/replacement/technical support during warranty period;</li>
				<li>Specialized customer service phone number;</li>
				<li>Troubleshoot within shortest time.</li>
			</ul>-->
			<div class="p3_image_part">
				<img src="/images/p3.jpg">
			</div>
		</div>
	</div>

{% end %}
