{% extends 'cntpl.html' %}

{% block title %}
Sol-Bright Technology
{% end %}
l
{% block l4 %}
active
{% end %}

{% block n4 %}nl{% end %}

{% block css %}
<style>
	.test_image_part > img {
		width: 100%;
	}	

	.test_intro_part p {
		text-align: left;
		font-size: 19px;
	}

	.test_image_part2 {
		text-align: middle;
		padding-bottom: 30px;
	}

	.test_image_part2 > img {
		width: 60%;
		height: auto;
	}

	sup {
		font-size: 1pt;
	}

	table > tbody > tr > th {
		text-align: center;
	}

	#test_table1 {
		width: 60%;
		margin-right: auto;
		margin-left: auto;
	}

	#test_table2 {
		width: 60%;
		margin-right: auto;
		margin-left: auto;
	}

	table tbody>tr>td.vert-align>.vert_middle {
		vertical-align: middle;
	}

	#test_table1 th {
		border-color: black;
	}

	#test_table2 th {
		border-color: black;
	}

	.pink {
		background-color: rgb(251, 212, 179);
	}
	.green {
		background-color: rgb(215, 227, 189);
	}
	.blue {
		background-color: rgb(183, 221, 232);
	}
	h3 {
		text-align: left;
		font-weight: 900;
	}
</style>
{% end %}

{% block content %}
<div class="test_block">		
	<div class="test_image_part">
		<img src="/images/t1.jpg" >
	</div>
	<h3>我们的合作项目:</h3>
	<div>
		<table class="test_table table table-bordered">
			<tr>
				<th>公司名称</th>
				<th>发电量（MW）</th>
				<th>装机量（台）</th>
				<th>备注</th>
			</tr>
			<tr>
				<th>宝应兴能可再生能源有限公司</th>
				<th>30</th>
				<th>200</th>
				<th>位于中国江苏，渔光互补水面光伏电站</th>
			</tr>
			<tr>
				<th>金湖正辉太阳能电力有限公司</th>
				<th>100</th>
				<th>830</th>
				<th>位于中国江苏，中国最大的渔光互补水面光伏电站</th>
			</tr>
			<tr>
				<th>阜宁新能光伏电力有限公司</th>
				<th>30</th>
				<th>250</th>
				<th>位于中国江苏，渔光互补水面光伏电站</th>
			</tr>
			<tr>
				<th>宁夏恒阳新能源有限公司</th>
				<th>30</th>
				<th>210</th>
				<th>位于中国西北腾格里沙漠，沙漠光伏电站</th>
			</tr>
			<tr>
				<th>宁夏金礼光伏电力有限公司</th>
				<th>50</th>
				<th>225</th>
				<th>位于中国西北腾格里沙漠，沙漠光伏电站</th>
			</tr>
			<tr>
				<th>宁夏金信光伏电力有限公司</th>
				<th>50</th>
				<th>282</th>
				<th>位于中国西北腾格里沙漠，沙漠光伏电站</th>
			</tr>
			<tr>
				<th>宁夏庆阳新能源有限公司</th>
				<th>100</th>
				<th>264</th>
				<th>位于中国西北腾格里沙漠，第一座中国最大的沙漠光伏电站</th>
			</tr>
			<tr>
				<th>内蒙古香岛新能源发展有限公司</th>
				<th>161</th>
				<th>1200</th>
				<th>位于中国内蒙古草原，中国最大的农光互补电站</th>
			</tr>
			<tr>
				<th>合计</th>
				<th></th>
				<th>3470</th>
				<th></th>
			</tr>
		</table>
	</div>
</div>

<div class="test_block">		
	<div class="test_image_part">
	</div>
	<div class="test_intro_part">
		<h3>测试和结果:</h3>
		<p>
		协鑫集团宝应电站，是协鑫集团麾下的第一家水面光伏电站。光伏组件分布于水上，水下进行水产养殖，是国内渔光互补项目经典代表之一。该项目位于宝应县射阳湖镇，建于养殖鱼塘水域内，占地面积为930亩，项目发电容量30兆瓦。水面光伏电站位于湿环境中，灰尘容易附着光伏组件的表面上，污物严重影响了功率转换效率，经过测量降低了超过7％的转换率。为了能有效地除去PV模块的表面上的污垢，协鑫集团使用我公司的智能清洗机器人用于定期清洗。我们的智能机器人可以彻底去除模块表面上的灰尘和污垢，从而提高发了发电效率。下面的表格是协鑫集团做的两个测试，展现了我们的智能清洁机器人卓越的清洁效率。
		</p>

	</div>
	<div class="test_image_part2">
				<div id="test_table1">
					<table class="test_table table table-bordered">
						<tr>
							<th></th>
							<th>第一次测试</th>
							<th>第二次测试</th>
						</tr>

						<tr>
							<th style="vertical-align:middle">测试时间</th>
							<th>
								<p>1月31日12:30</p>
								<p>(测试组件3天未清洁)</p>
							</th>
							<th>
								<p>2月11日13:00</p>
								<p>(测试组件10天未清洁)</p>
							</th>
						</tr>

						<tr>
							<th>瞬时辐射值</th>
							<th>900W/㎡左右</th>
							<th>600W/㎡左右</th>
						</tr>
					</table>
				</div>
				<!--<img src="images/t2.jpg" >-->
	</div>

	<div class="test_intro_part">
		<p>
		在使用我们公司的智能清洁机器人之后，发电转换率对比清洁之前提高了7%-10%。
		</p>
	</div>
	<div class="test_image_part2">
		<div id="test_table2">
			<table class="test_table table table-bordered">
				<tr>
					<th></th>
					<th></th>
					<th>清洁前</th>
					<th>清洁后</th>
					<th>效率提升</th>
				</tr>
				<tr>
					<th style="vertical-align:middle" rowspan=2 class="vert_mddile">第一次测试 </th>
					<th class="green">最大功率</th>
					<th class="green">214.4</th>
					<th class="green">222.5</th>
					<th style="vertical-align:middle" class="pink vert-middle" rowspan=2>3.80%</th>
				</tr>

				<tr>
					<th>辐射度</th>
					<th>906</th>
					<th>906</th>
				</tr>

				<tr>
					<th style="vertical-align:middle" class="vert-middle" rowspan=2>第二次测试</th>
					<th class="green">最大功率</th>
					<th class="green">138</th>
					<th class="green">147.8</th>
					<th style="vertical-align:middle" class="blue vert-middle" rowspan=2>7.10%</th>
				</tr>
				<tr>
					<th>IRR(辐射度）</th>
					<th>614</th>
					<th>615</th>
				</tr>
			</table>
		</div>
		<!--<img src="images/t3.jpg">-->
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="excel1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Modal title</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal">
					<div class="form-group">
						<label for="inputEmail3" class="col-sm-2 control-label">Input1</label>
						<div class="col-sm-10">
							<input type="email" class="form-control" id="inputEmail3" placeholder="Input">
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary">Compute</button>
			</div>
		</div>
	</div>
</div>

{% end %}
