{% extends 'tpl.html' %}

{% block title %}
	Home
{% end %}

{% block l2 %}
active
{% end %}

{% block content %}
<div class="test_block">
	<div class="row company1">
		<div class="col-md-8 company_row">
			<img src="images/2.png" >
		</div>
		<div class="col-md-4 text-left right-border-green text-right-padding text-content">
			<p class="text-black">
			Sol-Bright Tech is one of the world’s leading professional manufacturers that builds the most practical and intelligent robot to clean photovoltaic modules.
			We focus on value-adding and customized services in the solar industry. Our company focuses on R&D and services to
			continuously bring the best technological solutions to our valued customers.
			</p>
		</div>
	</div>
</div>

<div class="test_block">
	<div class="row company2">
		<div class="col-md-4 text-left left-border-green text-left-padding text-content">
			<p class="text-black">
			In recent years, with the rapid development of the photovoltaic industry, large-scale solar power plants are being built at a rapid
			speed around the world. However, with large scales of solar panels, soiling has caused a significant decrease in efficiency in power
			generation and has become a prominent issue to operators and owners of large-scale solar power plants. Sol-Bright Technology
			grasped the significance of this problem and regarded it as an opportunity for innovation and growth.
			After many researches, trial and errors, Sol-Bright Technology successfully developed their first generation of intelligent cleaning
			robot in 2013. The advanced technology behind the innovation has obtained patents both domestically and internationally. It is also
			highly acknowledged by many industry experts and has been recognized at SNEC expo in 2015.
			</p>
		</div>
		<div class="col-md-8 company_row">
			<img src="images/1.png" >
		</div>
	</div>
</div>
{% end %}
