{% extends 'tpl.html' %}

{% block title %}
Sol-Bright Technology
{% end %}

{% block n7 %}nl{% end %}

{% block l7 %}
active
{% end %}

{% block css %}
<style>
dl {
}

dd {
	text-align: left;
}

h3 {
	text-align: left;
}

dt {
	width: 80px;
}

.co1_content {
	text-align: left;
}

.co1_title {
	text-align: right;
	font-weight: 800;
}
</style>
{% end %}

{% block content %}
<div class="test_block">		
	<h2>Contact Information</h2>

	<h3>Main Company</h3>
	<div class="row">
		<div class="co1_title col-md-1">
			<p>Tel:</p>
			<p>&nbsp</p>
			<p>Cell:</p>
			<p>Email:</p>
		</div>
		<div class="co1_content col-md-11">
			<p>86-10-58412921</p>
			<p>86-10-52005067</p>
			<p>13691435279</p>
			<p>xuzhangtianran@163.com</p>
		</div>
	</div>

	<h3>Europe, South America, Taiwan Agent</h3>
	<div class="row">
		<div class="co1_title col-md-1">
			<p>Tel:</p>
			<p>Fax:</p>
			<p>Email:</p>
			<p>Address:</p>
		</div>
		<div class="co1_content col-md-11">
			<p>+86 10 85717788</p>
			<p>+86 10 85717988</p>
			<p>info@wyltonhk.com</p>
			<p>Bldg. #10, Feizhongxin, Wuliqiao St. 1, Chaoyang District, Beijing, P.R.China 100024</p>
		</div>
	</div>

	<!--
	<dl class="dl-horizontal">
		<dt>Tel:</dt>
		<dd>86-10-58412921</dd>
		<dd>86-10-52005067</dd>

		<dt>Cell:</dt>
		<dd>13691435279</dd>

		<dt>Email:</dt>
		<dd>xuzhangtianran@163.com</dd>

	</dl>

	<h3>Europe, South America, Taiwan Agent</h3>
	<dl class="dl-horizontal">
		<dt>Tel:</dt>
		<dd>+86 10 85717788</dd>

		<dt>Fax:</dt>
		<dd>+86 10 85717988</dd>

		<dt>Email:</dt>
		<dd>info@wyltonhk.com</dd>

		<dt>Address:</dt>
		<dd>Bldg. #10, Feizhongxin, Wuliqiao St. 1, Chaoyang District, Beijing, P.R.China 100024</dd>
	</dl>-->
</div>
{% end %}
