{% extends 'tpl.html' %}

{% block title %}
Sol-Bright Technology
{% end %}

{% block n7 %}nl{% end %}

{% block l7 %}
active
{% end %}

{% block css %}
<style>
dl {
}

dd {
	text-align: left;
}

h3 {
	text-align: left;
}

dt {
	width: 80px;
}

.co1_content {
	text-align: left;
}

.co1_title {
	text-align: right;
	font-weight: 900;
}

.co1_title {
	font-weight: 900;
}

h3 {
	color: red;
	font-weight: 900;
}

h4 {
	text-align: left;
	font-weight: 900;
}

.col-left {
	width: 10%;
	float: left;
	margin-right: 1%;
}

.col-right {
	width: 88%;
	float: right;
}

.col-left p {
	margin-bottom: 3px;
}

.col-right p {
	margin-bottom: 3px;
}
</style>
{% end %}

{% block content %}
<div class="test_block">		
	<h2>Contact Information</h2>

	<h3>Mainland China Business</h3>
	<div class="row">
		<div class="co1_title col-left">
			<p>Address:</p>
			<p>&nbsp</p>
			<p>Postcode:</p>
			<p>Tel:</p>
			<p>&nbsp</p>
			<p>&nbsp</p>
			<p>Fax:</p>
			<p>Cell:</p>
			<p>Email:</p>
		</div>
		<div class="co1_content col-right">
			<p>Building C, No.27, International industrial base of blessgogo, </p>
			<p>East Yanjiao, Beijing, China</p>
			<p>065201</p>
			<p>86-10-52005067</p>
			<p>86-10-52645536</p>
			<p>86-10-52645538</p>
			<p>86-10- 52645537</p>
			<p>13691435279</p>
			<p>xuzhangtianran@163.com</p>
		</div>
	</div>

	<h3>Europe, Mideast, Africa, Brazil, Taiwan Business</h3>
	<h4>Wylton International Trade Co., Ltd.</h4>
	<div class="row">
		<div class="co1_title col-left">
			<p>Address:</p>
			<p>&nbsp</p>
			<p>Postcode:</p>
			<p>Tel:</p>
			<p>Fax:</p>
			<p>Email:</p>
			<p>Website:</p>
		</div>
		<div class="co1_content col-right">
			<p>Bldg. #10, Feizhongxin, Wuliqiao St. 1, Chaoyang District, </p>
			<p>Beijing, P.R.China 100024</p>
			<p>100024</p>
			<p>+86 10 85717788</p>
			<p>+86 10 85717988</p>
			<p>info@wyltonhk.com</p>
			<p>www.wylton.com</p>
		</div>
	</div>

	<h3>North America Business</h3>
	<h4>Hash Machinery Systems</h4>
	<div class="row">
		<div class="co1_title col-left">
			<p>Address:</p>
			<p>Tel:</p>
			<p>Fax:</p>
			<p>Email:</p>
			<p>Website:</p>
		</div>
		<div class="co1_content col-right">
			<p>343 Preston St. 11th Floor，Ottawa, Ontario，Canada  K1S 1N4</p>
			<p>+1-613-884 3388</p>
			<p>+1-613-491 0426</p>
			<p>info@hashmachinery.com</p>
			<p>www.hashmachinery.com</p>
		</div>
	</div>
	<!--
	<dl class="dl-horizontal">
		<dt>Tel:</dt>
		<dd>86-10-58412921</dd>
		<dd>86-10-52005067</dd>

		<dt>Cell:</dt>
		<dd>13691435279</dd>

		<dt>Email:</dt>
		<dd>xuzhangtianran@163.com</dd>

	</dl>

	<h3>Europe, South America, Taiwan Agent</h3>
	<dl class="dl-horizontal">
		<dt>Tel:</dt>
		<dd>+86 10 85717788</dd>

		<dt>Fax:</dt>
		<dd>+86 10 85717988</dd>

		<dt>Email:</dt>
		<dd>info@wyltonhk.com</dd>

		<dt>Address:</dt>
		<dd>Bldg. #10, Feizhongxin, Wuliqiao St. 1, Chaoyang District, Beijing, P.R.China 100024</dd>
	</dl>-->
</div>
{% end %}
