
{% extends 'tpl.html' %}

{% block title %}
Sol-Bright Technology
{% end %}

{% block n6 %}nl{% end %}

{% block l6 %}
active
{% end %}

{% block content %}
<div class="test_block">		
	<div class="panel-group text_block" id="accordion" role="tablist" aria-multiselectable="true">
		<div class="panel panel-default">
			<div class="panel-heading text-left" role="tab" id="headingOne">
				<h4 class="panel-title">
					<a class="text-left" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
					1. Dose the Sol-Bright Tech robot can function well in extrem conditions, like freeze weather or desert climate?
					</a>
				</h4>
			</div>
			<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
				<div class="panel-body text-left">
				After improved the built-in battery, robot can operate in the temperature between 70℃ and -40℃.  
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading text-left" role="tab" id="headingTwo">
				<h4 class="panel-title">
					<a class="text-left collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
					2. Is manpower needed for the system operation and/or control?
					</a>
				</h4>
			</div>
			<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
				<div class="panel-body text-left">
				No manpower is required for the operation of Sol-Bright Tech Robot, beyond a single operator in a remote location who can oversee the site from a distance and observe the operational characteristics of each device in real-time through remote sensor viewing and network communications.
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading text-left" role="tab" id="headingThree">
				<h4 class="panel-title">
					<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
					3. Is water, compressed air or electricity additionally needed to run the cleaning system? Does the brush need cleaning?
					</a>
				</h4>
			</div>
			<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
				<div class="panel-body text-left">
				No. Each Sol-Bright Tech robot unit runs completely independently and without any external cables, on-board water supplies or air reservoirs, or any other such highly unreliable operational requirements commonly seen on cleaning systems that have been developed. The brush is made of a special material to avoid dust adhering to it. Therefore, it is no need to take any labor force to clean the brush.
				</div>
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading text-left" role="tab" id="headingThree">
				<h4 class="panel-title">
					<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
					4. Is there a real-time monitoring system to detect any functional problem of the robot? Does the robot have any other optional function?
					</a>
				</h4>
			</div>
			<div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
				<div class="panel-body text-left">
				The electronic system on board is upgraded to allow wireless communication, so key operating characteristics can be observed at all times remotely. If any robot malfunctions, the system will show you which one is breakdown. In addition, one of the greatest optional functions is that the robot can able to detect overheated/defective panels while cleaning the panel.
				</div>
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading text-left" role="tab" id="headingThree">
				<h4 class="panel-title">
					<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
					5. What are the operating time of the battery and the charging time? Does the device need to go to a special recharging area and stop work?
					</a>
				</h4>
			</div>
			<div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
				<div class="panel-body text-left">
				One of the advantages of this robot is that it has self-powered system. The solar cell set up on the top of shell and connected to the battery. The build-in battery will be fully recharged in three hours under the sunlight, so it can work as programmed, even in the night. When charged, the robot can run for double the operating time required to traverse an array in both directions. The system also can detect the current battery power to calculate how further it can run. The robot will come back to the docking deck before its battery runs out.  
				</div>
			</div>
		</div>

	</div>
</div>

{% end %}
