{% extends 'tpl.html' %}

{% block title %}
Sol-Bright Technology
{% end %}
l
{% block l4 %}
active
{% end %}

{% block n4 %}nl{% end %}

{% block css %}
<style>
	.test_image_part > img {
		width: 100%;
	}	

	.test_intro_part p {
		text-align: left;
		font-size: 18px;
	}

	.test_image_part2 {
		text-align: middle;
		padding-bottom: 30px;
	}

	.test_image_part2 > img {
		width: 60%;
		height: auto;
	}

	sup {
		font-size: 1pt;
	}

	table > tbody > tr > th {
		text-align: center;
	}

	#test_table1 {
		width: 60%;
		margin-right: auto;
		margin-left: auto;
	}

	#test_table2 {
		width: 60%;
		margin-right: auto;
		margin-left: auto;
	}

	table tbody>tr>td.vert-align>.vert_middle {
		vertical-align: middle;
	}
	
</style>
{% end %}

{% block content %}
<div class="test_block">		
	<div class="test_image_part">
		<img src="images/t1.jpg" >
	</div>
</div>

<div class="test_block">		
	<div class="test_image_part">
	</div>
	<div class="test_intro_part">
		<p>
		China Jiangsu PV power station is the first water surface PV power station of GCT Group. Photovoltaic modules are distributed above the water and aquaculture is performed underwater, with 30MW of generating capacity
The water surface PV power station is located in wet environment, so that the dust is easily attached on the surface of photovoltaic modules, and dust and dirt seriously affect the power conversion efficiency, resulting in over 7% of decrease in the efficiency.
To effectively remove the dirt on the surface of the PV modules, intelligent cleaning robot is used for regular cleaning, which can thoroughly remove dust and dirt on the surface of modules, in order to improve power generation efficiency.
Two test have been taken, in order to see the efficiency of the cleaning robot. 
		</p>

	</div>
	<div class="test_image_part2">
				<div id="test_table1">
					<table class="table table-bordered">
						<tr>
							<th></th>
							<th>First test</th>
							<th>Second test</th>
						</tr>

						<tr>
							<th style="vertical-align:middle">Test Time</th>
							<th>
								<p>12:30 31th Jan.</p>
								<p>(Panel not cleaned for 3 days)</p>
							</th>
							<th>
								<p>13:00 11th Feb.</p>
								<p>(Panel not cleaned for 10 days)</p>
							</th>
						</tr>

						<tr>
							<th>Instantaneous radiation value</th>
							<th>Around 900W/m<sup>2</sup></th>
							<th>Around 600W/m<sup>2</sup></th>
						</tr>
					</table>
				</div>
		<img src="images/t2.jpg" >
	</div>

	<div class="test_intro_part">
		<p>
		The efficiency of the power generation has been increased by 7-10% after using the Sol-Bright Tech Cleaning Robot.
		</p>
	</div>
	<div class="test_image_part2">
		<div id="test_table2">
			<table class="table table-bordered">
				<tr>
					<th></th>
					<th></th>
					<th>Before cleaning</th>
					<th>After cleaning</th>
					<th>Efficiency Upgrade</th>
				</tr>
				<tr>
					<th style="vertical-align:middle" rowspan=2 class="vert_mddile">First Test</th>
					<th>PMAX</th>
					<th>214.4</th>
					<th>236.7</th>
					<th style="vertical-align:middle" class="vert-middle" rowspan=2>10.40%</th>
				</tr>

				<tr>
					<th>IRR</th>
					<th>906</th>
					<th>906</th>
				</tr>

				<tr>
					<th style="vertical-align:middle" class="vert-middle" rowspan=2>Second Test</th>
					<th>PMAXX</th>
					<th>138</th>
					<th>147.8</th>
					<th style="vertical-align:middle" class="vert-middle" rowspan=2>7.10%</th>
				</tr>
				<tr>
					<th>IRR</th>
					<th>614</th>
					<th>615</th>
				</tr>
			</table>
		</div>
		<img src="images/t3.jpg">
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="excel1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Modal title</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal">
					<div class="form-group">
						<label for="inputEmail3" class="col-sm-2 control-label">Input1</label>
						<div class="col-sm-10">
							<input type="email" class="form-control" id="inputEmail3" placeholder="Input">
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary">Compute</button>
			</div>
		</div>
	</div>
</div>

{% end %}
